::-webkit-scrollbar {
/*/*/*width: 8px;
}
/* Track */
::-webkit-scrollbar-track {
background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
background: #555; 
} body{

/*font-family: 'Quicksand', sans-serif;
background: #eee;*/
}*/*/*/



.close:focus{

outline: 1px dotted #fff !important;
}

.modal-body {

padding: 0rem !important;
}

.modal-title{

color: rgb(14,29,52);
}

.modal-header{

background: rgb(243,246,252);
color: #fff !important;
}

.fa-close{
color: rgb(14,29,52);
}

.heading{

font-weight: 500 !important;
}

.subheadings{
font-size: 12px;
color: rgb(62,74,93);
}


.dots {
height: 10px;
width: 10px;
background-color: green;
border-radius: 50%;
display: inline-block;
margin-right: 5px;
}

.gallery img{

margin-right: 10px;
}

.fs-9{
font-size: 9px;
}